#SearchToolContainer{
    margin-top: 100px;
}

#centred-div-text{
    text-align: center;
}

input, label {
    display:block;
}

input[type="text"]  {
    margin: 0 auto;
    max-width: 100%;
}

#centred-div-text > input[type="text"]{
    margin-top:50px;
}

#location-suggestion-list > li{
    text-align: left;
}